body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.navbar {
  padding: 25px 0;
  text-align: center;
  background: black;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline;
}
.navbar a {
  text-decoration: none;
  font-size: 20px;
  padding: 20px 20px;
  color: #fa8b47;
}
.flex-container {
  display: flex;
  margin: 5%;
}
.orange-color {
  color: #fa8b47;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.flex-container h1 {
  font-size: 55px;
  padding-top: 60px;
  font-weight: 900;
  color: #575757;
}
.flex-container p {
  color: #828282;
  padding-bottom: 50px;
  padding-right: 100px;
}
.orange-btn {
  text-decoration: none;
  background: linear-gradient(to right, #fb984c, #f8472d);
  border-radius: 50px;
  color: white;
  padding: 20px 30px;
}
.flex-container .half-width img {
  width: 100%;
}
.flex-container h2 {
  font-size: 40px;
  padding-top: 70px;
  font-weight: 900;
  color: #575757;
}
#about-me {
  background-image: url("../images/shapes/7.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
/* my-recipies*/

#my-recipies .recipies-header h2 {
  text-align: center;
  color: #575757;
  padding-top: 30px;
}
#my-recipies .recipies-header p {
  text-align: center;
  padding: 0 400px;
  color: #828282;
}
.recipi-item {
  width: 30%;
  margin: 0 1.66%;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 40px 5px rgb(238, 224, 224);
}
.recipi-item img {
  width: 100%;
}
#my-recipies .recipi-item p {
  color: #828282;
  padding: 0px;
}
#my-recipies .recipi-item h3 {
  font-weight: 900;
  font-size: 25px;
}
/* follower section */
.follower {
  width: 30%;
  text-align: center;
  margin: 0 1.66%;
}
.follower-main {
  padding: 20px 0;
  display: flex;
  margin: 6%;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 5px rgb(241, 234, 234);
}
.follower h2 {
  font-size: 40px;
  font-weight: 900;
}
.follower p {
  color: #828282;
}
footer {
  background: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
footer h2 {
  color: #828282;
  font-size: 30px;
}
footer p {
  color: white;
}
